<?xml version="1.0"?>
<!--
/**
 * @category    FW
 * @package     FW_IGo
 * @copyright   Copyright (c) 2013 F+W Media, Inc. (http://www.fwmedia.com)
 * @author      Allen Cook <allen.cook@fwmedia.com>
 * @author      J.P. Daniel <jp.daniel@fwmedia.com>
 */
-->
<config>    
    <modules>
        <FW_IGo>
            <version>0.1.0</version>
        </FW_IGo>
    </modules>
    <global>
        <models>
            <fw_igo>
                <class>FW_IGo_Model</class>
            </fw_igo>
        </models>
        <blocks>
            <fw_igo>
                <class>FW_IGo_Block</class>
            </fw_igo>
            <fw_igo_email>
                <class>FW_IGo_Block</class>
            </fw_igo_email>
        </blocks>
         <helpers>
            <fw_igo>
                <class>FW_IGo_Helper</class>
            </fw_igo>
        </helpers>
    </global>
    <frontend>
        <events>
            <catalog_controller_category_init_after>
                <observers>
                    <fw_igo_category_view>
                        <class>fw_igo/observer</class>
                        <method>onCategoryView</method>                     
                    </fw_igo_category_view>
                </observers>
            </catalog_controller_category_init_after>
            <catalog_controller_product_view>
                <observers>
                    <fw_igo_product_view>
                        <class>fw_igo/observer</class>
                        <method>onProductView</method>                      
                    </fw_igo_product_view>
                </observers>
            </catalog_controller_product_view>
            <review_save_after>
                <observers>
                    <fw_igo_review_save_after>
                        <class>fw_igo/observer</class>
                        <method>onReviewSave</method>                      
                    </fw_igo_review_save_after>
                </observers>
            </review_save_after>
            <controller_action_layout_render_before_review_product_list>
                <observers>
                    <fw_igo_controller_action_layout_render_before_review_product_list>
                        <class>fw_igo/observer</class>
                        <method>onReviewList</method>                      
                    </fw_igo_controller_action_layout_render_before_review_product_list>
                </observers>
            </controller_action_layout_render_before_review_product_list>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <fw_igo_controller_action_dispatch_checkout_cart_index>
                        <class>fw_igo/observer</class>
                        <method>onCartView</method>                     
                    </fw_igo_controller_action_dispatch_checkout_cart_index>
                </observers>                
            </controller_action_predispatch_checkout_cart_index>
            <controller_action_predispatch_catalogsearch_result_index>
                <observers>
                    <fw_igo_controller_action_predispatch_catalogsearch_result_index>
                        <class>fw_igo/observer</class>
                        <method>onSearchView</method>                     
                    </fw_igo_controller_action_predispatch_catalogsearch_result_index>
                </observers>                
            </controller_action_predispatch_catalogsearch_result_index>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <fw_igo_controller_action_layout_generate_blocks_after>
                        <class>fw_igo/observer</class>
                        <method>onControllerActionBlocksAfter</method>                      
                    </fw_igo_controller_action_layout_generate_blocks_after>
                </observers>                
            </controller_action_layout_generate_blocks_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <fw_igo_order_success>
                        <class>fw_igo/observer</class>
                        <method>onOrderSuccessPageView</method>
                    </fw_igo_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <fw_igo_order_success>
                        <class>fw_igo/observer</class>
                        <method>onOrderSuccessPageView</method>
                    </fw_igo_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
            <fw_igo_to_html>
                <observers>
                    <fw_igo_to_html>
                        <class>fw_igo/observer</class>
                        <method>oniGoToHtml</method>                       
                    </fw_igo_to_html>
                </observers>
            </fw_igo_to_html>
        </events>
        <layout>
            <updates>
                <fw_igo>
                    <file>fw_igo.xml</file>
                </fw_igo>
            </updates>
        </layout>
    </frontend>
</config>
